name: Action Usage


on:
  workflow_dispatch:
  push:

jobs:
  get_branch:
    runs-on: ubuntu-latest
    outputs:
      branch: ${{ steps.extract_branch.outputs.branch }}
    steps:
    - name: Get Branch Name
      id: extract_branch
      run: |
        echo "BRANCH=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_STEP_SUMMARY
        echo "COMMIT_HASH=${GITHUB_SHA}" >> $GITHUB_STEP_SUMMARY
        echo "$BUILD=${BRANCH}-${COMMIT_HASH}" >> $GITHUB_STEP_SUMMARY

    
  # action_usage:
  #   runs-on: ubuntu-latest
  #   needs: get_branch
  #   steps:
  #   - name: Check out repository code
  #     uses: actions/checkout@v5
  #   - name: list
  #     run: |
  #       echo ${{ needs.get_branch.outputs.branch }}
  #       echo ${{vars.GITHUB_HEAD_REF}}
  #       echo ${GITHUB_SHA}
  #       ls -la ${PWD}/*/*
  #   - name: Set Branch as Environment Variable
  #     run: |
  #       echo "BRANCH=${{ needs.get_branch.outputs.branch }}" >> $GITHUB_ENV
  #   - name: Cat action
  #     run: |
  #       cat /home/runner/work/git_playground/git_playground/workflows/action.yaml
  #   - name: Print BRANCH
  #     run: |
  #       echo $BRANCH
  #   - id: action_step
  #     name: Action Step
  #     uses: GlycineASoya/git_playground/.github/actions/the_action@"${BRANCH}"
